.App {
  text-align: center;
  outline: solid 1px black;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 200px;
}

.block1 {
  outline: solid 1px red;
  /* height: 100px; */
  width: 300px;
  padding: 20px;
  margin: 20px;
}
.block2 {
  outline: solid 1px purple;
  /* height: 100x; */
  width: 300px;
  padding: 20px;
  margin: 20px;
}

.block2 li {
  list-style: none;
  outline: solid 1px black;
  padding: 8px;
  margin: 8px;
}
